@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Rubik+Mono+One&display=swap');

@theme static {
  --color-primary: #FF286E;
  --color-gradient-1: #FF286E;
  --color-gradient-2: #44db00;
  --color-gradient-3: #bd0386;
  --color-gradient-4: #FF286E;
  --font-primary: "Rubik Mono One" 400, monospace;
  --font-secondary: "Crimson Pro" 400, serif;
}



@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: var(--font-primary);
  }

  body {
    font: var(--font-secondary);
  }
}
