@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Rubik+Mono+One&display=swap');

@theme static {
  --theme-headings: "Rubik Mono One";
  --theme-body: "Crimson Pro";
  --color-primary: var(--theme-primary);
  --color-gradient-1: var(--theme-gradient-1);
  --color-gradient-2: var(--theme-gradient-2);
  --color-gradient-3: var(--theme-gradient-3);
  --color-gradient-4: var(--theme-gradient-4);
  --font-primary: "Rubik Mono One";
  --font-secondary: "Crimson Pro";

}


@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }

  body {
    font-family: var(--font-secondary);
    font-weight: 400 !important;
    font-style: normal !important;
  }
}
